
{% extends 'base.html.twig'%}

{% block body %}
    <h1>Car will be displayed here</h1>
    <ul>
       First
    </ul>
    <ul>
        Second
    </ul>
    <ul>
        third
    </ul>
{% endblock %}
